{
  "fish": true,
  "oculob": true,
  "peblit": true,
  "iguarmor": true,
  "tank": true,
  "tentaclebarrier": true,
  "crustoise": true,
  "pulpin": true,
  "snaggler": true,
  "tentaclecrawler": true,
  "tintic": true,
  "triplod": true,
  "ivrpgmechanistturret": true,
  "ffs_cultist_ammocrate": true,
  "ffs_breakable_cultist_banner": true,
  "ffs_breakable_cultist_tent": true,
  "ffs_breakable_cultist_tent2": true,
  "ffs_breakable_cultist_tent3": true,
  "ffs_breakable_cultist_tent4": true,
  "ffs_cultist_airborne_assaulter": true,
  "ffs_cultist_door": true,
  "ffs_cultist_mortar": true,
  "ffs_cultist_twigun": true,
  "ffs_engine_console_monster": true,
  "ffs_lootbox_medkit": true,
  "ffs_lootbox_medkit_large": true,
  "ffs_lootbox_medkit_medium": true,
  "ffs_lootbox_weapon": true,
  "ffs_lootbox_weapon_large": true,
  "ffs_lootbox_weapon_medium": true,
  "ffs_luckybox_at": true,
  "ffs0_demon_4": true,
  "ffs0_demonegg_1": true,
  "ffs0_demonegg_2": true,
  "ffs2_demon_4": true,
  "ffs2_spidereggs_1": true,
  "ffs_bunker_small_left": true,
  "ffs_bunker_small_left_dae": true,
  "ffs_cultist_truck": true,
  "ffs_cultist_truck_dae": true,
  "ffs_cultist_apc": true,
  "ffs_cultist_apc_dae": true,
  "ffs_lootbox_prisoner": true,
  "ffs_lootbox_prisoner_dae": true,
  "ffs_penguin_tank": true,
  "ffs_miniknog_omnicannon": true,
  "ffs_miniknog_twigun": true,
  "rimdwellerautocannon": true,
  "rimdwellermissilelauncher": true,
  "futwigun": true,
  "futwigun2": true,
  "futwigunboss": true,
  "futwigunpet": true,
  "fuomnicannon": true,
  "fuomnicannon2": true,
  "aegisalt_burrower": true,
  "aegisalt_burrower_segment": true,
  "aegisalt_burrower_segment_empty": true,
  "aegisalt_burrower_tail": true,
  "copper_burrower": true,
  "copper_burrower_segment": true,
  "copper_burrower_tail": true,
  "corefragment_burrower": true,
  "corefragment_burrower_segment": true,
  "corefragment_burrower_tail": true,
  "densinium_burrower": true,
  "densinium_burrower_segment": true,
  "densinium_burrower_tail": true,
  "diamond_burrower": true,
  "diamond_burrower_segment": true,
  "diamond_burrower_tail": true,
  "direstone_burrower": true,
  "direstone_burrower_segment": true,
  "direstone_burrower_tail": true,
  "dirt_burrower": true,
  "dirt_burrower_segment": true,
  "dirt_burrower_tail": true,
  "durasteel_burrower": true,
  "durasteel_burrower_segment": true,
  "durasteel_burrower_tail": true,
  "ferozium_burrower": true,
  "ferozium_burrower_segment": true,
  "ferozium_burrower_tail": true,
  "gold_burrower": true,
  "gold_burrower_segment": true,
  "gold_burrower_tail": true,
  "iron_burrower": true,
  "iron_burrower_segment": true,
  "iron_burrower_tail": true,
  "irradium_burrower": true,
  "irradium_burrower_segment": true,
  "irradium_burrower_tail": true,
  "isogen_burrower": true,
  "isogen_burrower_segment": true,
  "isogen_burrower_tail": true,
  "koanite_burrower": true,
  "koanite_burrower_segment": true,
  "koanite_burrower_tail": true,
  "lead_burrower": true,
  "lead_burrower_segment": true,
  "lead_burrower_tail": true,
  "lunari_burrower": true,
  "lunari_burrower_segment": true,
  "lunari_burrower_tail": true,
  "magnesium_burrower": true,
  "magnesium_burrower_segment": true,
  "magnesium_burrower_tail": true,
  "mascagnite_burrower": true,
  "mascagnite_burrower_segment": true,
  "mascagnite_burrower_tail": true,
  "megaburrower": true,
  "megaburrower_segment": true,
  "megaburrower_segment_empty": true,
  "megaburrower_tail": true,
  "moonstone_burrower": true,
  "moonstone_burrower_segment": true,
  "moonstone_burrower_tail": true,
  "neptunium_burrower": true,
  "neptunium_burrower_segment": true,
  "neptunium_burrower_tail": true,
  "penumbrite_burrower": true,
  "penumbrite_burrower_segment": true,
  "penumbrite_burrower_tail": true,
  "platnium_burrower": true,
  "platnium_burrower_segment": true,
  "platnium_burrower_tail": true,
  "plutonium_burrower": true,
  "plutonium_burrower_segment": true,
  "plutonium_burrower_tail": true,
  "prisilite_burrower": true,
  "prisilite_burrower_segment": true,
  "prisilite_burrower_tail": true,
  "protocite_burrower": true,
  "protocite_burrower_segment": true,
  "protocite_burrower_tail": true,
  "pyreite_burrower": true,
  "pyreite_burrower_segment": true,
  "pyreite_burrower_tail": true,
  "quietus_burrower": true,
  "quietus_burrower_segment": true,
  "quietus_burrower_tail": true,
  "silver_burrower": true,
  "silver_burrower_segment": true,
  "silver_burrower_tail": true,
  "solarium_burrower": true,
  "solarium_burrower_segment": true,
  "solarium_burrower_tail": true,
  "stone_burrower": true,
  "stone_burrower_segment": true,
  "stone_burrower_tail": true,
  "sulphur_burrower": true,
  "sulphur_burrower_segment": true,
  "sulphur_burrower_tail": true,
  "thorium_burrower": true,
  "thorium_burrower_segment": true,
  "thorium_burrower_tail": true,
  "titanium_burrower": true,
  "titanium_burrower_segment": true,
  "titanium_burrower_tail": true,
  "trianglium_burrower": true,
  "trianglium_burrower_segment": true,
  "trianglium_burrower_tail": true,
  "tungsten_burrower": true,
  "tungsten_burrower_segment": true,
  "tungsten_burrower_tail": true,
  "uranium_burrower": true,
  "uranium_burrower_segment": true,
  "uranium_burrower_tail": true,
  "violium_burrower": true,
  "violium_burrower_segment": true,
  "violium_burrower_tail": true,
  "xithricite_burrower": true,
  "xithricite_burrower_segment": true,
  "xithricite_burrower_tail": true,
  "zerchesium_burrower": true,
  "zerchesium_burrower_segment": true,
  "zerchesium_burrower_tail": true,
  "ue_loyalisttank": true,
  "ue_torpedolauncher": true,
  "ue_snipertwigun": true,
  "ue_20mmfieldcannon": true,
  "ue_armouredcar": true,
  "ue_fieldcannon": true,
  "ue_shermantank": true,
  "ue_shermantank_mg": true,
  "uscmhumanpanzertank": true,
  "uscmhumanpanzertank_boss": true,
  "uscmcalliope": true,
  "ue_katyushatank": true,
  "ue_level1sentrygun": true,
  "ue_level2sentrygun": true,
  "ue_autobomberturret": true,
  "ue_laserdefense": true,
  "ue_laserturret": true,
  "ue_rebeltwigun": true,
  "ue_antiairtwigun": true,
  "ue_mediumcannonturret": true,
  "ue_mediummulticannonturret": true,
  "ue_mediumpulseturret": true,
  "ue_minigunshipcannon": true,
  "ue_missilelauncher": true
}
