{
	"gosmet" : "stop",
	"skimbus" : "stop",
	"spookit" : "stop",
	"ivrpg_demonicspookit" : "stop",
	"squeem" : "stop",
	"ignome" : "stop",
	"lumoth" : "stop",
	"nautileech" : "stop",
	"pyromantle" : "stop",
	"peacekeeperdrone" : "stop",
	"tentacleghost" : "stop",
	"wisper" : "stop",
	"smallflying" : "nojump",
	"largeflying" : "nojump",
	"largefish" : "nojump",
	"trifangle" : "stop",
	"ivrpg_shieldedtrifangle" : "stop",
	"chiropterror" : "stop",
	"ivrpg_shieldedchiropterror" : "stop",
	"spinemine" : "stop"
}