{
	"gosmet" : "stop",
	"skimbus" : "stop",
	"spookit" : "stop",
	"squeem" : "stop",
	"ignome" : "stop",
	"lumoth" : "stop",
	"nautileech" : "stop",
	"pyromantle" : "stop",
	"peacekeeperdrone" : "stop",
	"tentacleghost" : "stop",
	"wisper" : "stop",
	"smallflying" : "nojump",
	"largeflying" : "nojump",
	"largefish" : "nojump"
}